a {
  /* color: inherit;
  text-decoration: inherit; */
}

.release-box{
  border: 3px solid black;
  padding: 10px;
  width: 50%;
  background-color: lightgrey;
}

.release-list{
  border-top: grey solid 1px;
  border-bottom: grey solid 1px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.release-title{
}

.button{
  background-color: lightblue;
  border: 3px solid black;
  padding: 10px;
}

a, .button{
  text-decoration: none;
}
